<div>

<table>
  <thead>
     <th>Id</th>
     <th>Name</th>
     <th>Description</th>
     <th>Price</th>
  </thead>
  <tbody>
  
    <tr *ngFor="let pro of props">
        <td>{{pro.id}}</td>
        <td routerLink="/fanzone/props/{{pro.id}}/">{{pro.name}}</td>
        <td>{{pro.description}}</td>
        <td>{{pro.price}}</td>
    </tr>
  </tbody>
</table>
</div>
<nav>
    <a routerLink="propsAdd" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>	
  </nav>
<app-props-details></app-props-details>