<h3>Create Happening Form</h3>
<div [hidden]="submitted" style="width: 300px;">
	<form #happeningForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="title">Title</label> <input type="text" class="form-control" id="title" required [(ngModel)]="happening.title"
			 name="title">
		</div>
		<div class="form-group">
			<label for="actors">Actors</label> <input type="text" class="form-control" id="actors" required [(ngModel)]="happening.actors"
			 name="actors">
		</div>

		<div class="form-group">
			<label for="director">Director</label> <input type="text" class="form-control" id="director" required [(ngModel)]="happening.director"
			 name="director">
		</div>

		<div class="form-group">
			<label for="decription">Description</label> <textarea class="form-control" id="decription" required [(ngModel)]="happening.decription"
			 name="decription"></textarea>
		</div>

		<div class="form-group">
			<label for="genre">Genre</label>
			<select class="form-control" id="genre" required [(ngModel)]="happening.genre" name="genre">
				<option value="action">action</option>
				<option value="scifi">scifi</option>
				<option value="fantasy">fantasy</option>
				<option value="drama">drama</option>
				<option value="comedy">comedy</option>
				<option value="horror">horror</option>
			</select>
		</div>
		<div class="form-group">
			<label for="duration">Duration</label> <input type="number" class="form-control" id="duration" required [(ngModel)]="happening.duration"
			 name="duration"> in minutes
		</div>

		<div class="form-group">
			<label for="price">Price</label><input type="number" class="form-control" id="price" required [(ngModel)]="happening.price"
			 name="price"> in dollars
		</div>

		<div class="form-group">
			<label for="picture">Picture</label>
			<input (change)="onUploadChange($event)" name="picture" type="file" accept="image/*" class="form-control" id="picture" required>
		</div>

		<div class="btn-group">
			
			<button type="submit" class="btn btn-success" [disabled]="happeningForm.form.invalid || !fileAdded">Submit</button>
		</div>
	</form>
	<button class="btn btn-primary" (click)="goBack()">Back</button>
</div>
