<div style="padding: 20px;">
	<h2 style="color: blue">JSA - Angular Application!</h2>
	<nav>
		<a routerLink="establishment" class="btn btn-primary active" role="button" routerLinkActive="active">Establishments</a>
		<a routerLink="add"	class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="findbyaddress"	class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
		<a routerLink="props"	class="btn btn-primary active" role="button" routerLinkActive="active">Props</a>
		<a routerLink="addFanzone"	class="btn btn-primary active" role="button" routerLinkActive="active">Create FanZone</a>
		<a routerLink="fanzone"	class="btn btn-primary active" role="button" routerLinkActive="active">FanZone</a>
		
        
	</nav>
	<router-outlet></router-outlet>
</div>

