<div>
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Picture</th>
    </thead>
    <tbody>
      <tr *ngFor="let ads of propsAd">
        <div *ngIf="!ads.reviewed && ads.canReview">
          <td>{{ads.id}}</td>
          <td routerLink="/fanzone/propsAd/{{ads.id}}/">{{ads.name}}</td>
          <td>{{ads.description}}</td>
          <td>{{ads.date}}</td>
          <td *ngIf="ads.picture"><img src="{{ads.picture}}" alt="prop poster"></td>
          <td><button (click)="accept(ads.id)">Accept prop</button></td>
          <td><button (click)="decline(ads.id)">Decline prop</button> </td>
        </div>
      </tr>
    </tbody>
  </table>
</div>


<!-- <app-props-ad-details></app-props-ad-details> -->