<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let ads of propsAd">
          <td *ngIf="!ads.reviewed && ads.canReview">{{ads.id}}</td>
          <td *ngIf="!ads.reviewed && ads.canReview" routerLink="/fanzone/propsAd/{{ads.id}}/">{{ads.name}}</td>
          <td *ngIf="!ads.reviewed && ads.canReview">{{ads.description}}</td>
          <td *ngIf="!ads.reviewed && ads.canReview">{{ads.date}}</td>
          <td *ngIf="ads.picture && !ads.reviewed && ads.canReview"><img src="{{ads.picture}}" alt="prop poster"></td>
          <td *ngIf="!ads.reviewed && ads.canReview"><button (click)="accept(ads.id)">Accept prop</button></td>
          <td *ngIf="!ads.reviewed && ads.canReview"><button (click)="decline(ads.id)">Decline prop</button></td>
    </tr>
  </table>
</div>
