<div *ngIf="establishment">
	<h2>{{establishment.name}} details:</h2>
	<div>
		<label>id: </label> {{establishment.id}}
	</div>
	<div>
		<label>Name: </label> <input [(ngModel)]="establishment.name" placeholder={{establishment.name}}/>
	</div>
	<div>
		<label>Address: </label> <input [(ngModel)]="establishment.address" placeholder={{establishment.address}}/>
	</div>
	
	<button class="btn btn-danger" (click)="delete()">Delete</button>
	<button (click)="save()">Save</button>
</div>
<app-happenings></app-happenings>
<app-segments></app-segments>
<div>
	  