<div *ngIf="happening">
	<h2>{{happening.title}} details:</h2>
	{{Eadmin}} {{admin}}
	<div *ngIf="Eadmin || admin">
		<div>
			<label>id: </label> {{happening.id}}
		</div>
		<div *ngIf="happening.picture"><img src="{{happening.picture}}" alt="happening poster"></div>
		<form #happeningForm="ngForm" (ngSubmit)="save()">
			<div class="form-group">
				<label for="title">Title</label> <input type="text" class="form-control" id="title" required [(ngModel)]="happening.title"
				 name="title">
			</div>
			<div class="form-group">
				<label for="actors">Actors</label> <input type="text" class="form-control" id="actors" required [(ngModel)]="happening.actors"
				 name="actors">
			</div>

			<div class="form-group">
				<label for="director">Director</label> <input type="text" class="form-control" id="director" required [(ngModel)]="happening.director"
				 name="director">
			</div>

			<div class="form-group">
				<label for="decription">Description</label> <textarea class="form-control" id="decription" required [(ngModel)]="happening.decription"
				 name="decription"></textarea>
			</div>

			<div class="form-group">
				<label for="genre">Genre</label>
				<select class="form-control" id="genre" required [(ngModel)]="happening.genre" name="genre">
					<option value="action">action</option>
					<option value="scifi">scifi</option>
					<option value="fantasy">fantasy</option>
					<option value="drama">drama</option>
					<option value="comedy">comedy</option>
					<option value="horror">horror</option>
				</select>
			</div>
			<div class="form-group">
				<label for="duration">Duration</label> <input type="number" class="form-control" id="duration" required [(ngModel)]="happening.duration"
				 name="duration"> in minutes
			</div>

			<div class="form-group">
				<label for="price">Price</label><input type="number" class="form-control" id="price" required [(ngModel)]="happening.price"
				 name="price"> in dollars
			</div>

			<div class="form-group">
				<label for="picture">Picture</label>
				<input (change)="onUploadChange($event)" name="picture" type="file" accept="image/*" class="form-control" id="picture"
				 required>
			</div>

			<div class="btn-group">
				<button type="submit" class="btn btn-success" [disabled]="happeningForm.form.invalid">Submit</button>
			</div>
		</form>
	</div>
	<div *ngIf="!Eadmin && !admin">
		<div>
			<label>id: </label> {{happening.id}}
		</div>
		<div *ngIf="happening.picture"><img src="{{happening.picture}}" alt="happening poster"></div>
		<div>
			<label>Title: </label>
			{{happening.title}}
		</div>
		<div>
			<label>Actors: </label>
			{{happening.actors}}
		</div>
		<div>
			<label>Director: </label>
			{{happening.director}}
		</div>
		<div>
			<label>Decription: </label>
			{{happening.decription}}
		</div>
		<div>
			<label>Genre: </label>
			{{happening.genre}}
		</div>
		<div>
			<label>Rating: </label>
			{{happening.rating}}
		</div>
		<div>
			<label>Duration: </label>
			{{happening.duration}} minutes
		</div>
		<div>
			<label>Price: </label>
			{{happening.price}}$
		</div>
	</div>
	<button (click)='getTimings()'>Book on date:</button>
	<div *ngIf="timings">
		<div *ngFor="let timing of timings">
			<div *ngIf="timing.canBook">
				<h4>Hall: {{timing.hall}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date and time: {{timing.time}}</h4>
				<div *ngIf="user || Eadmin || admin">
					<button (click)='getTimingSeats(timing.id)'>Pick seat</button>
					<div *ngIf="timingSeatsSearched && timingSeats.length > 0">
							<div *ngIf="timingNum == timing.id">
						<div style = "display: inline-block" *ngFor="let seg of seatSegments">
							{{seg}} seats:
							<div *ngFor="let seat of timingSeats">
								<div *ngIf="seat.hall == seg && seat.active">
									{{seat.id}}
								</div>
							</div>
						</div>
						<br/>
						<br/>
							<mat-form-field>
								<mat-select placeholder="Choose seats" [formControl]="timingSeatControl" multiple>
									<mat-option *ngFor="let seat of timingSeats" [value]="seat.id">{{seat.id}}</mat-option>
								</mat-select>
							</mat-form-field>
							<button (click)="book(timing.id)">Book</button>
							<div *ngIf="Eadmin || admin">
								<div>
									<label>Discount percentage: </label>
									<input [(ngModel)]="discountNumber" type="number" min="1" max="100" />
								</div>
								<button (click)="discount(timing.id)">Discount seats</button>
							</div>
						</div>
					</div>
					<div *ngIf="timingSeatsSearched && timingSeats.length == 0 && timingNum == timing.id">Sold out</div>
				</div>

			</div>
			<div *ngIf="(!Eadmin && !admin) && timing.canBook">
				<button (click)='getTimingSeats(timing.id)'>Check for seats</button>
				<div *ngIf="timingSeatsSearched && timingSeats.length > 0">
					<div *ngIf="timingNum == timing.id">
						Free seats:{{timingSeats.length}}
					</div>
				</div>
				<div *ngIf="timingSeatsSearched && timingSeats.length == 0 && timingNum == timing.id">Sold out</div>
			</div>
		</div>
	</div>
	<div *ngIf="!timings && timingSearched">
		Currently no dates available.
	</div>
	<div *ngIf="Eadmin || admin">
		<button class="btn btn-danger" (click)="delete()">Delete</button>
		<button routerLink="./addTiming/{{happening.id}}">Add timing</button>
	</div>
</div>