<div *ngIf="propsAd">
	<h2>{{propsAd.name}} details:</h2>
	<div>
		<label>Id: </label> {{propsAd.id}}
	</div>
	<div>
		<label>Name: </label> {{propsAd.name}}
	</div>
	<div>
		<label>Description: </label> {{propsAd.description}}
	</div>
	<div *ngIf = "propsAd.picture">
		<label>Picture: </label> <img src="{{propsAd.picture}}" alt="prop poster" />
	</div>
	<div>
		<label>Date: </label> {{propsAd.date}}
	</div>

</div>
<h4>Offers: </h4>
<div *ngIf="!seller && !expired">
	<div *ngIf="ownOffer">
		<label>My offer: </label>{{ownOffer.price}}
		<input [(ngModel)]="changedOffer" type="number" /><button (click)="changeOffer()">Change offer</button><br/>
		<button (click)="removeOffer(ownOffer.id)">Remove offer</button>
	</div>
	<div *ngIf="!ownOffer">
		<input [(ngModel)]="initialOffer" type="number" /><button (click)="makeOffer()">Make offer</button>
	</div>
</div>
<table>
	<thead>
		<th>Id</th>
		<th>Offer</th>
		<th>User</th>
	</thead>
	<tbody>
		<tr *ngFor="let offer of offers">
			<td>{{offer.id}}</td>
			<td>{{offer.price}}</td>
			<td>{{offer.user}}</td>
			<div *ngIf="seller"><td><button (click)="acceptOffer(offer.id)">Accept offer</button></td></div>
		</tr>
	</tbody>
</table>