<button (click)="sortByName()">Sort by name</button>
  <button (click)="sortByRating()">Sort by rating</button><br/>
  <input [(ngModel)]="searchString" type="text"/>
  <button (click)="search()">Search happenings</button>
  <button (click)="reset()">Reset search</button>
<div *ngFor="let happ of happenings" [class.selected]="happ === selectedHappening" (click)="onSelect(happ)">
  <div *ngIf="happ.active">
    <h4>{{happ.id}} - Title:{{happ.title}}   Rating:{{happ.rating}}</h4>
  </div>
</div>
<div *ngIf="Eadmin || admin">
  <nav>
    <a routerLink="happeningAdd" class="btn btn-primary active" role="button" routerLinkActive="active">Add happening</a>
  </nav>
</div>
<app-happening-details [happening]="selectedHappening"></app-happening-details>
<router-outlet></router-outlet>